.form-wrapper {
  background-color: #eee;
  padding: 20px;
}

/* boton para publicar article */

@media (max-width: 540px) {
  .submit {
    float: none;
    width: 100%;
  }
}

.custom-file-label::after {
  background-color: #1ab394;
  color: white;
}

.custom-file {
  margin-bottom: 1rem;
}

.perfil-image {
  margin-bottom: 20px;
}

.perfil-image img {
  height: 150px;
  width: 150px;
  border: 10px solid white;
  -webkit-box-shadow: 0 0 20px black;
          box-shadow: 0 0 20px black;
}

