.form-wrapper{
  background-color: $color-backg-form;
  padding: 20px;
}

/* boton para publicar article */
@media (max-width: 540px) {
  .submit {
      float: none;
      width: 100%;
  }
}

.select2-selection--single{
  height: 36px!important;
  border: 1px solid $border-color-select2!important;
}

.select2-selection__rendered, .select2-selection__placeholder, .custom-file-label {
  color: $color-select2 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered{
  padding-top: 4px;
}

.select2-arrow, .select2-chosen {
  padding-top: 6px;
}

.custom-file-label::after {
  background-color: $color-btn-primary;
  color: white;
}
.custom-file {
  margin-bottom: 1rem;
}

.perfil-image {
  margin-bottom: 20px;
}

.perfil-image img {
  height: 150px;
  width: 150px;
  border: 10px solid white;
  box-shadow: 0 0 20px black;
}

#map {
  border: 1px solid $border-color-select2;
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}